<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Birthdays</title>
    </head>
    <body>
        <div class="header">
            <h1>Birthdays</h1>
        </div>
        {% block body %}
        <div class="container">
            <div class="section">

                <h2>Add a Birthday</h2>
                <!-- Form for users to submit a name, a month, and a day -->
                <form method="post">
                    <input type="text" name="name" id="name" autocomplete="off" placeholder="Name" autofocus>
                    <input type="text" name="month" id="month" autocomplete="off" placeholder="Month">
                    <input type="text" name="day" id="day" autocomplete="off" placeholder="Day">
                    <input type="submit">
                </form>
            </div>

            <div class="section">
                {{ message }}
                <h2>All Birthdays</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Birthday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Loop trough the database entries and display them in this table -->
                        {% for birthday in birthdays %}
                            <tr>
                                <td>{{ birthday["name"] }}</td>
                                <td>{{ birthday["month"] }}/{{ birthday["day"] }}</td>
                                <td>
                                    <form action="/edit" method="post">
                                        <input name="id" type="hidden" value="{{ birthday['id'] }}">
                                        <input type="submit" value="Edit">
                                    </form>
                                </td>
                                <td>
                                    <form action="/delete" method="post">
                                        <input name="id" type="hidden" value="{{ birthday['id'] }}">
                                        <input type="submit" value="Delete">
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endblock %}
    </body>
</html>
